table.ui-datepicker-calendar {
    background: #f5f2f2;
}
div#ui-datepicker-div {
    background: #fff;
    padding: 5px;
}
a.ui-datepicker-next.ui-corner-all {
    float: right;
}
span.ui-icon.ui-icon-circle-triangle-w,span.ui-icon.ui-icon-circle-triangle-e {
    cursor: pointer;
}
a.ui-state-default {
    padding: 4px;

}
table.ui-datepicker-calendar td {
    transition: all .3s;
}
table.ui-datepicker-calendar td:hover {
    background: white;
    transition: all .3s;
}
.ui-datepicker-title {
    text-align: center;
}
table.ui-datepicker-calendar thead {
    background: #d4d2d2;
}

a.ui-datepicker-prev.ui-corner-all {
    float: left;
}